/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */




@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('././../../static/fonts/iransans/IRANSansWeb_Bold.eot');
  src: url('././../../static/fonts/iransans/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('././../../static/fonts/iransans/IRANSansWeb_Bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('././../../static/fonts/iransans/IRANSansWeb_Bold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('././../../static/fonts/iransans/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('././../../static/fonts/iransans/IRANSansWeb_Medium.eot');
  src: url('././../../static/fonts/iransans/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('././../../static/fonts/iransans/IRANSansWeb_Medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('././../../static/fonts/iransans/IRANSansWeb_Medium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('././../../static/fonts/iransans/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('././../../static/fonts/iransans/IRANSansWeb_Light.eot');
  src: url('././../../static/fonts/iransans/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('././../../static/fonts/iransans/IRANSansWeb_Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('././../../static/fonts/iransans/IRANSansWeb_Light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('././../../static/fonts/iransans/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('././../../static/fonts/iransans/IRANSansWeb.eot');
  src: url('././../../static/fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('././../../static/fonts/iransans/IRANSansWeb.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('././../../static/fonts/iransans/IRANSansWeb.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('././../../static/fonts/iransans/IRANSansWeb.ttf') format('truetype');
}

@font-face {
  font-family: IRANSansFa;
  font-style: normal;
  font-weight: bold;
  src: url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Bold.eot');
  src: url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSansFa;
  font-style: normal;
  font-weight: 500;
  src: url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Medium.eot');
  src: url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSansFa;
  font-style: normal;
  font-weight: 300;
  src: url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Light.eot');
  src: url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('././../../static/fonts/iransans/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSansFa;
  font-style: normal;
  font-weight: normal;
  src: url('././../../static/fonts/iransans/IRANSansWeb(FaNum).eot');
  src: url('././../../static/fonts/iransans/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('././../../static/fonts/iransans/IRANSansWeb(FaNum).woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('././../../static/fonts/iransans/IRANSansWeb(FaNum).woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('././../../static/fonts/iransans/IRANSansWeb(FaNum).ttf') format('truetype');
}

* , h1,div{
  font-family:IRANSans,tahoma, sans-serif !important;
                                                                              
}
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-font-family-monospace: IRANSansFa;
  --ifm-font-family-base: IRANSansFa;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
  
}
/* @import url('http://fonts.cdnfonts.com/css/iranian-sans'); */
/* @import './font.css'; */


/* fonts */

