@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/iransans/IRANSansWeb_Bold.eot');
    src: url('../../fonts/iransans/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('../../fonts/iransans/IRANSansWeb_Bold.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/ url('../../fonts/iransans/IRANSansWeb_Bold.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../fonts/iransans/IRANSansWeb_Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/iransans/IRANSansWeb_Medium.eot');
  }
  
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts./iransans/IRANSansWeb_Light.eot');
    src: url('../../fonts/iransans/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('../../fonts/iransans/IRANSansWeb_Light.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/ url('../../fonts/iransans/IRANSansWeb_Light.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../fonts/iransans/IRANSansWeb_Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/iransans/IRANSansWeb.eot');
    src: url('../../fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('../../fonts/iransans/IRANSansWeb.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/ url('../../fonts/iransans/IRANSansWeb.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../fonts/iransans/IRANSansWeb.ttf') format('truetype');
  }
  
  @font-face {
    font-family: IRANSansFa;
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/iransans/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../../fonts/iransans/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('../../fonts/iransans/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/ url('../../fonts/iransans/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../fonts/iransans/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: IRANSansFa;
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/iransans/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../../fonts/iransans/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('../../fonts/iransans/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/ url('../../fonts/iransans/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../fonts/iransans/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: IRANSansFa;
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/iransans/IRANSansWeb(FaNum)_Light.eot');
    src: url('../../fonts/iransans/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('../../fonts/iransans/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/ url('../../fonts/iransans/IRANSansWeb(FaNum)_Light.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../fonts/iransans/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: IRANSansFa;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/iransans/IRANSansWeb(FaNum).eot');
    src: url('../../fonts/iransans/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('../../fonts/iransans/IRANSansWeb(FaNum).woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/ url('../../fonts/iransans/IRANSansWeb(FaNum).woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../fonts/iransans/IRANSansWeb(FaNum).ttf') format('truetype');
  }